{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>homepage
</h1>
<table class="table">
  <thead>
    <tr>         
      {% if is_granted('ROLE_ADMIN') %}
      <th>id
      </th>
      {% endif %}
      <th>Label
      </th>
      <th>last post
      </th>
      <th>total posts
      </th>
    </tr>
  </thead>
  <tbody>
    {% for categorie in categories %}
    <tr>
      {% if is_granted('ROLE_ADMIN') %}
      <td>
        <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">{{ categorie.id}}
        </a> 
      </td>      
      {% endif %}
      <td>
        <a href="{{ path('categorie_show', {'id': categorie.id}) }}">{{ categorie.label }}
        </a> 
      </td>
      <td>
        <a href="{{ path('post_show', {'id': categorielastpost[loop.index0][0].id}) }}">
          {{ categorielastpost[loop.index0][0].title }}
        </a> 
      </td>
      <td>{{ categorieposts[loop.index0][0].total }} 
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="3">no categories found
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>Recent Activity
</div>
<table class="table">
  <thead>
    <tr>
      {% if is_granted('ROLE_ADMIN') %}
      <th>Id
      </th>
      <th>File
      </th>
      <th>actions
      </th>
      {% endif %}
      <th>Title
      </th>
      <th>Content
      </th>
      <th>Postdate
      </th>
      <th>Likes
      </th>
    </tr>
  </thead>
  <tbody>
    {% for post in recentlyactiveposts %}
    <tr>
      {% if is_granted('ROLE_ADMIN') %}
      <td>{{ post.id }}
      </td>
      <td>
        <a href="{{ asset('files/' ~ post.file) }}" alt="" width="100" height="100">{{ post.file}}
        </a>
      </td>
      <td>
        <a href="{{ path('post_edit', {'id': post.id}) }}">edit
        </a>
      </td>
      {% endif %}
      <td>
        <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}
        </a>
      </td>
      <td >{{ post.content }}
      </td>
      <td>{{ post.postdate ? post.postdate|date('Y-m-d H:i:s') : '' }}
      </td>
      <td>{{ post.likes|length }}
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="8">no posts found
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div> Most Viewed Posts
</div>
<table class="table">
  <thead>
    <tr>
      {% if is_granted('ROLE_ADMIN') %}
      <th>Id
      </th>
      <th>File
      </th>
      <th>actions
      </th>
      {% endif %}
      <th>Title
      </th>
      <th>Content
      </th>
      <th>Postdate
      </th>
      <th>Likes
      </th>
    </tr>
  </thead>
  <tbody>
    {% for post in mostviewedposts %}
    <tr>
      {% if is_granted('ROLE_ADMIN') %}
      <td>{{ post.id }}
      </td>
      <td>
        <a href="{{ asset('files/' ~ post.file) }}" alt="" width="100" height="100">{{ post.file}}
        </a>
      </td>
      <td>
        <a href="{{ path('post_edit', {'id': post.id}) }}">edit
        </a>
      </td>
      {% endif %}
      <td>
        <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}
        </a>
      </td>
      <td >{{ post.content }}
      </td>
      <td>{{ post.postdate ? post.postdate|date('Y-m-d H:i:s') : '' }}
      </td>
      <td>{{ post.likes|length }}
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="8">no posts found
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
